{% extends 'base.html' %}

{% load static %}


{% block title %}
О нас
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/about_us.css' %}">
{% endblock %}

{% block content %}

<div class="container">
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Краткая информация</label>
        </div>
        <p><strong>Как работает наш сервис и кому он будет полезен</strong>
            <br />Наш сервис создан для хранения текстов, заметок, контактов и прочей информации. В нем нет платных функций и рекламы. Это доступный и бесплатный сервис для всех.</p>
<p><strong>Для кого создан</strong>
    <br />Пользоваться сервисом удобно всем, кому нужно быстро ввести данные, полученные у клиентов. В него можно вносить заметки<br />и набрасывать идеи во время работы.</p>
<p><br /><strong>Где хранятся заметки</strong><br />Для каждого пользователя заводится персональная учетная запись. Вся информация, внесенная в него, хранится только в браузере. Она не попадает в интернет, на чужие серверы и сайты.</p>
<p>При этом следует учитывать, что если сделать очистку кеша, истории, паролей и прочих данных в браузере, то и тексты из Онлайн Блокнота тоже удалятся. Для того чтобы заметки из него не удалялись, необходимо внимательно просмотреть функции очистки и не ставить "галочки" для удаления данных из блокнота.</p>
<h3>&nbsp;</h3>
</div>
{% endblock %}